@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$fontColor: #333;
$backgroundColor: #f7f7f7;
$hilightColor: #eee;

$defaultPadding: 20px;

$sidebarWidth: 300px;
$searchItemHeight: 32px;

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $fontColor;
  background-color: $backgroundColor;
}

.search-form {
  // Search bar hsa fixed position
  position: fixed;
  top: 0; left: 0;
  overflow: none;

  // Search form is always full screen height
  height: 100%;
  width: $sidebarWidth;

  // Search input is at the top and results
  // fill the rest with scroll bar
  display: flex;
  flex-direction: column;
  input {
    $padding: 10px;
    min-height: $searchItemHeight - (2 * $padding);
    height: $searchItemHeight - (2 * $padding);
    padding: $padding;
  }

  .search-results {
    flex-grow: 1;
    overflow-y: scroll;
  }

  // Vertically align text in search results by setting layout
  // with flex and setting proper line-height
  .search-results .search-result {
    display: flex;
    height: $searchItemHeight;
    .nickname {
      flex-grow: 1;
      vertical-align: middle;
      line-height: $searchItemHeight;
    }
  }

  .search-results {
    .search-result {
      // Fancy separator lines
      border-bottom: 1px dashed #ddd;
      box-sizing: border-box;

      .avatar {
        width: $searchItemHeight;
        height: $searchItemHeight;
        margin-right: 10px;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    &.selected {
      background-color: $hilightColor;
    }
  }
}

.main-content {
  margin-left: $sidebarWidth;
}

.player {
  display: flex;
  flex-direction: row;
  .player-avatar {
    width: 170px;
    height: 170px;
  }
  .player-info {
    flex-grow: 1;
    padding-left: $defaultPadding;
  }
}

// Match component layout
.match {
  margin: ($defaultPadding / 2) 0;
  padding: ($defaultPadding / 4) 0;
  .match-header {
    display: flex;
    flex-direction: row;

    .result {
      width: 100px;
    }
    .match-name {
      flex-grow: 1;
      padding-left: $defaultPadding;
    }
    .timestamp {
      width: 150px;
      padding: 0 $defaultPadding;
    }
    .toggle {
      width: 16px;
      padding: 0 $defaultPadding;
    }
  }

  .match-details {
    .teams {
      display: flex;
      flex-direction: row;
      .team {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        .avatar {
          width: 240px;
          height: 240px;
        }

        .players {
          flex-grow: 1;
          padding-left: $defaultPadding;
        }
      }
    }
  }
}

// Match component styles
.match {
  border: 1px solid #eee;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  .match-header {
    .result {
      text-align: center;
      .win { color: green }
      .loss { color: red }
    }

    .match-name {
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;

      .home-team {
        text-decoration: underline;
      }
      .enemy-team {
      }
    }

    .timestamp {
      text-align: center;
    }

    .toggle {
      text-align: center;
      border-left: 1px solid lightgray;
    }
  }

  .match-details {
    padding: $defaultPadding;
    border-top: 1px solid lightgray;
  }
}
