@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$fontColor: #333;
$backgroundColor: #f7f7f7;
$hilightColor: #eee;

$sidebarWidth: 300px;
$searchItemHeight: 32px;

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $fontColor;
  background-color: $backgroundColor;
}

.search-form {
  // Search bar hsa fixed position
  position: fixed;
  top: 0; left: 0;
  overflow: none;

  // Search form is always full screen height
  height: 100%;
  width: $sidebarWidth;

  // Search input is at the top and results
  // fill the rest with scroll bar
  display: flex;
  flex-direction: column;
  input {
    $padding: 10px;
    min-height: $searchItemHeight - (2 * $padding);
    height: $searchItemHeight - (2 * $padding);
    padding: $padding;
  }

  .search-results {
    flex-grow: 1;
    overflow-y: scroll;
  }

  // Vertically align text in search results by setting layout
  // with flex and setting proper line-height
  .search-results .search-result {
    display: flex;
    height: $searchItemHeight;
    .nickname {
      flex-grow: 1;
      vertical-align: middle;
      line-height: $searchItemHeight;
    }
  }

  .search-results {
    .search-result {
      // Fancy separator lines
      border-bottom: 1px dashed #ddd;
      box-sizing: border-box;

      .avatar {
        width: $searchItemHeight;
        height: $searchItemHeight;
        margin-right: 10px;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    &.selected {
      background-color: $hilightColor;
    }
  }
}

.main-content {
  margin-left: $sidebarWidth;
}

.match-history {
  .match {
    border: 1px solid #eee;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    margin: 10px;
    padding: 10px;

    .home-team {
      font-weight: bold;
      font-style: italic;
    }
    .enemy-team {
    }
  }

  .win { color: green }
  .loss { color: red }
}

// Match component layout
.match {
  .match-header {
    display: flex;
    flex-direction: row;

    .result {
      width: 100px;
      text-align: center;
    }
    .match-name {
      flex-grow: 1;
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
      padding-left: 20px;
    }
    .timestamp {
      width: 100px;
      padding-left: 20px;
    }
  }

  .match-details {
    border-top: 1px solid lightgray;
  }
}

.player-details {
  .player-avatar {
    width: 170px;
    height: 170px;
  }
}
